<table class="table table--alt" summary="This table describes...">
    <tcaption>Table Caption</tcaption>
    <tbody>
        <tr class="table-row--highlight">
            <th>Heading for Row1 A</th>
            <th>Heading for Row1 B</th>
            <th>Heading for Row1 C</th>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr class="table-row--highlight">
            <th>Heading for Row2 A</th>
            <th>Heading for Row2 B</th>
            <th>Heading for Row2 C</th>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
        <tr class="table-row--highlight">
            <th>Heading for Row3 A</th>
            <th>Heading for Row3 B</th>
            <th>Heading for Row3 C</th>
        </tr>
        <tr>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td>Cell 3</td>
        </tr>
    </tbody>
</table>