<div class="feature-2up row" data-action="feature2up">

    <div class="feature-slot">

        <a href="#" class="feature-tile" title="card 1">
            <h3 class="feature-tile__title">Lorem ipsum dolor sit 1</h3>
            <img class="feature-tile__img" src="http://lorempixel.com/900/450/nature/1" />
            <p class="feature-tile__copy"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip.&nbsp;<span class="feature-tile__icon"></span></p>
        </a>

    </div>
    <div class="feature-slot">

        <a href="#" class="feature-tile" title="card 2">
            <h3 class="feature-tile__title">Lorem ipsum dolor sit 2</h3>
            <img class="feature-tile__img" src="http://lorempixel.com/900/450/nature/2" />
            <p class="feature-tile__copy"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</strong> Sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip.&nbsp;<span class="feature-tile__icon"></span></p>
        </a>

    </div>

</div>
