<!doctype html>
<!--[if lte IE 9]> <html class="no-js lte-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{#if title }}{{ title }} | {{/if}}Baxalta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{> imports-head }}

        {{> analytics }}

        {{> favicons}}

    </head>
    <body class="layout-minimal-w-headerfooter ">

        {{> primary-nav primary-nav-minimal}}
        
        <div class="site-wrapper">
            <div class="container-fluid">
                <div class="page-wrapper">
                    <div class="page-main-minimal">
                      {% body %}
                    </div>
                    
                </div>
            </div>
        </div>
        

        {{> footer-minimal }}

        {{> imports-body }}

    </body>
</html>
