---
title: Icon Library
slug: icon-library
list: reference
layout: minimal
---

<div class="styleguide icon-library container-fluid" data-action-name="icon-Library">
    <h1>Icon Library</h1>

    <p class="lead">See instructions for updating our Icomoon font in styles/_iconfont.scss</p>

    <div class="icon-library__wrapper">

        <h2 class="styleguide__heading2">Branding</h2>

        <div class="icon-library__example">
            <span class="icon-spark"></span>
            .icon-spark
        </div>

        <div class="icon-library__example">
            <span class="icon-baxalta-logo"></span>
            .icon-baxalta-logo
        </div>

        {{!-- <div class="icon-library__example">
            <span class="icon-baxter-logo"></span>
            .icon-baxter-logo
        </div> --}}

    </div>

    <div class="icon-library__wrapper">

        <h2 class="styleguide__heading2">Arrows &amp; Navigation</h2>

        <div class="icon-library__example">
            <span class="icon-arrow-nav-right"></span>
            .icon-arrow-nav-right
        </div>

        <div class="icon-library__example">
            <span class="icon-arrow-nav-left"></span>
            .icon-arrow-nav-left
        </div>

        <div class="icon-library__example">
            <span class="icon-arrow-circle"></span>
            .icon-arrow-circle
        </div>

        <div class="icon-library__example">
            <span class="icon-caret-right"></span>
            .icon-caret-right
        </div>

        <div class="icon-library__example">
            <span class="icon-menu"></span>
            .icon-menu
        </div>

        <div class="icon-library__example">
            <span class="icon-external-link"></span>
            .icon-external-link
        </div>

    </div>

    <div class="icon-library__wrapper">

        <h2 class="styleguide__heading2">Social</h2>

        <div class="icon-library__example">
            <span class="icon-facebook"></span>
            .icon-facebook
        </div>

        <div class="icon-library__example">
            <span class="icon-linkedin"></span>
            .icon-linkedin
        </div>

        <div class="icon-library__example">
            <span class="icon-youtube"></span>
            .icon-youtube
        </div>

        <div class="icon-library__example">
            <span class="icon-twitter"></span>
            .icon-twitter
        </div>

        <div class="icon-library__example">
            <span class="icon-rss"></span>
            .icon-rss
        </div>

        <div class="icon-library__example">
            <span class="icon-share-link"></span>
            .icon-share-link
        </div>

        <div class="icon-library__example">
            <span class="icon-email"></span>
            .icon-email
        </div>

    </div>

    <div class="icon-library__wrapper">

        <h2 class="styleguide__heading2">Miscellaneous</h2>

        <div class="icon-library__example">
            <span class="icon-print-link"></span>
            .icon-print-link
        </div>

        <div class="icon-library__example">
            <span class="icon-plus"></span>
            .icon-plus
        </div>

        <div class="icon-library__example">
            <span class="icon-minus"></span>
            .icon-minus
        </div>

        <div class="icon-library__example">
            <span class="icon-play"></span>
            .icon-play
        </div>

        <div class="icon-library__example">
            <span class="icon-Baxalta_icon_world"></span>
            .icon-Baxalta_icon_world
        </div>

        <div class="icon-library__example">
            <span class="icon-Baxalta_icon_teams"></span>
            .icon-Baxalta_icon_teams
        </div>

         <div class="icon-library__example">
            <span class="icon-Baxalta_icon_quest"></span>
            .icon-Baxalta_icon_quest
        </div>

         <div class="icon-library__example">
            <span class="icon-Baxalta_icon_passion"></span>
            .icon-Baxalta_icon_passion
        </div>

        <div class="icon-library__example">
            <span class="icon-pdf-link"></span>
            .icon-pdf-link
        </div>

    </div>

</div>
