<div class="modal fade" id="interstitialModal" tabindex="-1" role="dialog" aria-labelledby="interstitialModal" aria-hidden="true" data-action="interstitial">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Are you sure you want to leave?</h4>
            </div>
            <div class="modal-body">
                <h3>You are about to leave for a 3rd party website.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, keep me here</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes, take me there</button>
        </div>
    </div>
  </div>
</div>