
<div class="500 basic-centered">
    <h1>A server error has occurred.</h1>
    <p>We apologize for the inconvenience. Please continue to one of our suggested pages below.</p>

    <p class="list-heading">For more information:</p>
    <ul class="list-carets">
        <li><a href="#">Search and Apply for jobs</a></li>
        <li><a href="#">Contributions</a></li>
        <li><a href="#">Medical Research and Educational Grants</a></li>
        <li><a href="#">BioLife and Plasma Donation</a></li>
        <li><a href="#">Investors / Financial Information</a></li>
        <li><a href="#">Information for Suppliers and Vendors</a></li>
        <li><a href="#">Marketed Product Information</a></li>
        <li><a href="#">Media inquiries</a></li>
    </ul>
</div>