---
title: Thank You
slug: thank-you
list: done
layout: default
---

<div class="thank-you basic-centered">
    <h1>Thank you</h1>
    <p>Your information has been successfully submitted.</p>

    <p class="list-heading">For more information:</p>
    <ul class="list-carets">
        <li><a href="#">Search and apply for jobs</a></li>
        <li><a href="#">Contributions</a></li>
        <li><a href="#">Medical research and educational grants</a></li>
        <li><a href="#">Investors/financial information</a></li>
        <li><a href="#">Information for Suppliers and Vendors</a></li>
        <li><a href="#">Media inquiries</a></li>
    </ul>
</div>