---
title: Component Library
slug: component-library
list: reference
layout: minimal
---

<div class="styleguide component-library container-fluid" data-action="componentLibrary">
    <h1 class="h1">Component Library</h1>

    <p class="lead">Major components which are shareable across various pages of the site should be included here for reference.</p>

    {{!-- <h2 class="styleguide__heading2">Partial Name</h2>
    {{> partial-name }} --}}

    <h2 class="styleguide__heading2">tab-controls</h2>
    <p>add <strong>.item tab-controls__list__tab--large</strong> class for larger tabs in desktop</p>
    {{> tab-controls }}

    <h2 class="styleguide__heading2">Secondary Nav / Left Nav</h2>
    {{> secondary-nav }}

    <h2 class="styleguide__heading2">section-intro component</h2>
    {{> section-intro section-intro.landing }}

    <h2 class="styleguide__heading2">Feature 2-up</h2>
    {{> feature-2up }}

    <h2 class="styleguide__heading2">Feature 3-up</h2>
    {{> feature-3up feature-3up.home }}

    <h2 class="styleguide__heading2">Feature 4-up</h2>
    {{> feature-4up feature-4up.landing }}

    <h2 class="styleguide__heading2">Feature newsroom</h2>
    {{> feature-newsroom }} 

    <h2 class="styleguide__heading2">Story Carousel (with text, no color fade)</h2>
    {{> story-carousel story-carousel.stories }}

    <h2 class="styleguide__heading2">Story Carousel (--no-text, --color-fade)</h2>
    {{> story-carousel story-carousel.therapies }}

    <h2 class="styleguide__heading2">Masthead</h2>
    {{> masthead }}

    <h2 class="styleguide__heading2">Video Component</h2>
    {{> video-container video-container.component }}

    <h2 class="styleguide__heading2">Breadcrumb - Only appears on mobile</h2>
    {{> page-breadcrumb component-library }}

    <h2 class="styleguide__heading2">Address List</h2>
    {{> address-list address-list }}

    <h2 class="styleguide__heading2">Interstitial Modal</h2>
    {{> interstitial }}
    <p>Example link: <a href="http://www.baxter.com">Click here to leave this website</a></p>

</div>
