<div class="masthead" data-action="masthead"> 

<div class="IE-warn">
	<p>It looks like your browser is outdated. For the best experience, please consider updating to the latest version or switching to another browser (Firefox, Chrome, Safari).</p>
</div>
	<div class="owl-carousel masthead__carousel" id="mastheadCarousel">
		<div class="masthead__carousel__item">
			<img src="assets/images/masthead/slide-1.png">
			<div class="masthead__headline"> 
				<h1 class="masthead__title">
					Your life,<br/> our inspiration
				</h1>
				<p class="masthead__copy">
					Vercips umquatur, volupta tenihilis doloruptis maio ibus as alias et faces dis modit voluptatur
				</p>
				<a href="#" class="masthead__link">
					<span class="icon-arrow-circle"></span>
					<span class="masthead__link__text">About Baxalta</span>
				</a>
			</div>
		</div>
		<div class="masthead__carousel__item">
			<img src="assets/images/masthead/slide-2.png">
			<div class="masthead__headline"> 
				<h2 class="masthead__title">
					Lorem nas<br/> ipsum
				</h2>
				<p class="masthead__copy">
					Vercips umquatur, volupta tenihilis doloruptis maio ibus as alias et faces dis modit voluptatur
				</p>
				<a href="#" class="masthead__link">
					<span class="icon-arrow-circle"></span>
					<span class="masthead__link__text">About Baxalta</span>
				</a>
			</div>
		</div>
		<div class="masthead__carousel__item">
			<img src="assets/images/masthead/slide-3.png">
			<div class="masthead__headline"> 
				<h2 class="masthead__title">
					Dolur et<br/> mastio
				</h2>
				<p class="masthead__copy">
					Vercips umquatur, volupta tenihilis doloruptis maio ibus as alias et faces dis modit voluptatur
				</p>
				<a href="#" class="masthead__link">
					<span class="icon-arrow-circle"></span>
					<span class="masthead__link__text">About Baxalta</span>
				</a>
			</div>
		</div>
	</div>
</div>