<div class="feature-newsroom row full-bleed" data-action="featureNewsroom">
	
	<h3 class="feature-newsroom__title col-xs-12">
	 	<a href="#">Newsroom <span class="feature-newsroom__title__icon icon-rss"></span></a>
	</h3>
	
 	<div class="col-xs-12 col-sm-4">
		 <a href="#" class="feature-newsroom__tile feature-tile">
			<img class="feature-newsroom__tile__image" src="http://lorempixel.com/112/112/nature/4/" alt="" />	
		 	<div class="feature-newsroom__tile__copy">
			 	<p class="feature-newsroom__tile__date">Feb 10, 2015</p>
			 	<p class="feature-tile__copy">As alias et faceys dis modit voluptatur autescia dolo explis que possi volutatemped et lamet et hiciam nonseribus quos audaes velessi tem. Gamet et hiciam&nbsp;<span class="feature-tile__icon"></span></p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-sm-4">
		 <a href="#" class="feature-newsroom__tile feature-tile">
			<img class="feature-newsroom__tile__image" src="http://lorempixel.com/112/112/nature/5/" alt="" />	
		 	<div class="feature-newsroom__tile__copy">
			 	<p class="feature-newsroom__tile__date">Feb 11, 2015</p>
			 	<p class="feature-tile__copy">As alias et facesr dis modit voluptatur autescia dolo explis que possi volutatemped et lamet et hiciam nonseribus quos audaes velessi tem. Gamet et hiciam&nbsp;<span class="feature-tile__icon"></span></p>
			</div>
		</a>
	</div>

	<div class="col-xs-12 col-sm-4">
		 <a href="#" class="feature-newsroom__tile feature-tile">
			<img class="feature-newsroom__tile__image" src="http://lorempixel.com/112/112/nature/6/" alt="" />	
		 	<div class="feature-newsroom__tile__copy">
			 	<p class="feature-newsroom__tile__date">Feb 12, 2015</p>
			 	<p class="feature-tile__copy">As alias et facest dis modit voluptatur autescia dolo explis que possi volutatemped et lamet et hiciam nonseribus quos audaes velessi tem. Gamet et hiciam&nbsp;<span class="feature-tile__icon"></span></p>
			</div>
		</a>
	</div>

</div>
