---
title: Global Legal Header/Footer (Product Patents)
slug: product-patent
list: done
layout: minimal-with-primary-footer
subnav: false
---

<div class="product-patent" data-action="productPatent">
	<hgroup class="page-headings">
		<h1>United States Patent Information for Baxalta Products</h1>
	</hgroup>
    
    <p>
		In accordance with 35 USC &sect; 287(a), Baxter International Inc. provides United States Patent information concerning its products on this website. For each of the products listed below, the product is patented under, made under, or used under one or more of the patents listed with the product name.
    </p>
    <p>
        The patent information displayed on this page is believed to be accurate as of the most recent update of the page but should not be considered exhaustive. In particular, the omission of a particular patent from a product's entry on this page is not a representation or admission by Baxter that that patent does not cover the product; nor does the absence of any listing on this page for a specific Baxter product constitute a representation or admission by Baxter that that product is unpatented. In addition, although Baxter has attempted to keep the information on this page reasonably current, certain patents listed on this page may still have expired since the page was last updated.
    </p>

   	<h5>Please find the product name below to view associated United States Patents.</h5>
    
    <h3>ADVATE (antihemophilic factor [recombinant] lyophilized powder for reconstitution) and BAXJECT&nbsp;III</h3>
    <p>
		Patented under U.S. Patent Numbers: 5,733,873; 5,854,021; 5,919,766; 5,955,448; 6,313,102; 6,586,573; 6,649,386; 7,087,723 and 7,247,707, 8,545,476. Made according to the method of U.S. Patent Numbers: 6,100,061; 6,475,725; 6,555,391; 6,936,441; 7,094,574; 7,253,262 and 7,381,796.
	</p>

    <div class="line-divider"></div>

    <h3>HYQVIA [Immune Globulin Infusion 10% (Human) with Recombinant Human Hyaluronidase]</h3>
    <p>
		Patented under U.S. Patent Number 7,767,429, under license from Halozyme, Inc., a wholly owned subsidiary of Halozyme Therapeutics, Inc.
	</p>
</div>
