<footer class="footer" data-action="footer">
    <div class="footer__wrapper">
        
        <div class="footer__branding">
            <a href="#" class="footer__branding__logo"></a>
        </div>

        <div class="footer__social-links">
            <a href="http://twitter.com/baxalta" class="hide-text"><span class="fonticon icon-twitter"></span>Twitter</a>
            <a href="https://www.linkedin.com/company/baxalta" class="hide-text"><span class="fonticon icon-linkedin"></span>LinkedIn</a>
        </div>

        <div class="footer__sections">
            
            <div class="footer__section">
                <a href="#" class="footer__section__heading">About Us</a>
                <ul>
                    <li><a data-WT="{'WT.cg_n':'cgn test', 'WT.event':'event test'}" href="#">Patient Promise</a></li>
                    <li><a href="#">Our Values</a></li>
                    <li><a href="#">Leadership</a></li>
                    <li><a href="#">Corporate Responsibility</a></li>
                    <li><a href="#">Governance</a></li>
                </ul>

                <a href="#" class="footer__section__heading">Collaboration</a>
                <ul>
                    <li><a href="#">Business Development</a></li>
                </ul>
            </div>

           
            <div class="footer__section">
                <a href="#" class="footer__section__heading">Research &amp; Development</a>
                <ul>
                    <li><a href="#">Research Areas</a></li>
                    <li><a href="#">Technology Platforms</a></li>
                    <li><a href="#">Pipeline</a></li>
                    <li><a href="#">Clinical Trials</a></li>
                    <li><a href="#">Research &amp; Education Grants</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <a href="#" class="footer__section__heading">Therapies</a>
                <ul>    
                    <li><a href="#">Areas of Expertise</a></li>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Medwatch Reporting</a></li>
                </ul>
            </div>

            <div class="footer__section">
                <a href="#" class="footer__section__heading">For Investors</a>
                <ul>    
                    <li><a href="#">Shareholder &amp; Stock Information</a></li>
                    <li><a href="#">Financial Information</a></li>
                    <li><a href="#">Events &amp; Presentation</a></li>
                    <li><a href="#">Investors Resources</a></li>
                </ul>
            </div>
            
            <div class="footer__section">
                <a href="#" class="footer__section__heading">Newsroom</a>
                <ul>    
                    <li><a href="#">Company Facts</a></li>
                    <li><a href="#">Press Releases</a></li>
                    <li><a href="#">Spark Stories</a></li>
                </ul>
                <a href="#" class="footer__section__heading">Careers</a>
                <ul>    
                    <li><a href="#">Search &amp; Apply for jobs</a></li>
                </ul>
                <a href="#" class="footer__section__heading">Sitemap</a>
            </div>
        </div>

    </div>

    <div class="footer__wrapper footer__gray-border">

        <div class="footer__copyrights">
            &copy; Copyright 2015 Baxalta. All rights reserved
            <ul>
                <li><a href="#">Legal Disclaimers</a></li>
                <li><a href="#">Privacy &amp; Cookie Policies</a></li>
                <li><a href="#">Linking Disclaimer</a></li>
            </ul>
        </div>
    
    </div>

</footer>
