---
title: Pipeline
slug: pipeline
list: done
layout: sidebar-layout
subnav: true
featured: false
---

<div class="news-article pipeline">
    
    {{> page-breadcrumb news-article }}

    <hgroup class="page-headings">
        <h1>Advancing the Pipeline</h1>
    </hgroup>

    <div class="news-article__content">

    	<p>Building a diverse and innovative biopharmaceutical pipeline in our three core focus areas of hematology, oncology, and immunology.</p>

		<div class="jump-to-links">
			<h3>Jump to:</h3>
	        <ul class="list-carets">
	        	<li><a href="?ws=ws1">Hematology</a></li>
	        	<li><a href="?ws=ws2">Immunology</a></li>
	        	<li><a href="?ws=ws3">Oncology</a></li>
			</ul>
		</div>
    
	    <div class="windowshade windowshade--alt active-sm active-lg" id="ws1">
	        
	        <a href="#" class="windowshade__title ws-trigger" aria-controls="ws1" role="tab">Hematology Pipeline<span class="windowshade__icon"></span></a>
	        
	        <div class="windowshade__body" aria-labelledby="ws1" role="tabpanel">
	    
	    
	            <table class="table" summary="Extending Legacy of Leadership in Hematology">
				    <thead>
				        <tr>
				            <th>Program</th>
				            <th>Pre-Clinical</th>
				            <th>Phase I </th>
				            <th>Phase II</th>
				            <th>Phase III</th>
				            <th>Reg. Review</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>VONVENDI (BAX 111): On Demand</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> U.S.</td>
				        </tr>
				        
				        <tr>
				            <td>VONVENDI (BAX 111): Surgery</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				       
				        <tr>				       
				            <td>EHL rFVIII PEG (BAX 855)</td>
				             <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"></td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> U.S. &amp; Japan</td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PEG (BAX 855): Surgery</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PEG (BAX 855): PK Guided*</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PEG (BAX 855): Peds</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PEG (BAX 855): Continuation</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PEG (BAX 855): PUPs</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>OBIZUR Acquired Hemophilia A</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> EU</td>
				            
				        </tr>
				        
				        <tr>
				            <td>OBIZUR CHAWI Surgery</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>ADVATE myPKFiT</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> U.S.</td>
				        </tr>
				        
				        <tr>
				            <td>rFVIIa (BAX 817)</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Sickle Cell (BAX 555)</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>FIX Gene Therapy (BAX 335)</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>rADAMTS13 (BAX 930): TTP</td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 1</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>EHL rFVIII PSA (BAX 826)*</td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 1</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>FEIBA Reconstitution Reduction</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				         </tr>
				         
				         <tr>
				            <td>FVIII Gene Therapy (BAX 888)</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				         </tr>
				         
				         <tr>
				            <td>Anti-TFPI: Hemophilia</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				    </tbody>
				    
					</table>	

	    
	        </div>
	    
	    </div><!--end windowshade-->
	    
	    <a href="#" class="back-to-top">Back to top</a>

	    
	    <div class="windowshade windowshade--alt active-sm active-lg"  id="ws2">
	        
	        <a href="#" class="windowshade__title ws-trigger" aria-controls="ws2" role="tab">Immunology Pipeline<span class="windowshade__icon"></span></a>
	        
	        <div class="windowshade__body" aria-labelledby="ws2" role="tabpanel">
	    
	    
		            <table class="table" summary="Differetiation And Innovation In Immunology">
				        <thead>
				        <tr>
				            <th>Program</th>
				            <th>Pre-Clinical</th>
				            <th>Phase I </th>
				            <th>Phase II</th>
				            <th>Phase III</th>
				            <th>Reg. Review</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>20% IGSC: PID</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> EU</td>
				        </tr>
				        
				        <tr>
				            <td>Etanercept (BAX 2200): Psoriasis</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"></td>
				        </tr>
				       
				        <tr>				       
				            <td>Etanercept (BAX 2200): Rheumatoid Arthristis</td>
				             <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>HYQVIA: Peds</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>HYQVIA: CIDP*</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>FcyRIIb (SM101): SLE</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>FcyRIIb (SM101): IgA Nephropathy*</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span></td>
				            <td class="no"></td>
				            <td class="no"></td>
				        </tr>
				        
				        <tr>
				            <td>Anti-FcyRIIb IgG (SM201 / SM211)</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"></td>
				            
				        </tr>
				        
				        <tr>
				            <td>Anti-FcyRIIb IgG (SM301)</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Adalimumab (923)</td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 1</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>FLEXBUMIN LCM</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>IG Yield Improvement (BAX 1415)</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"></td>
				            <td class="no"></td>
				            <td class="no"></td>
				            <td class="no"></td>
				        </tr>
				         
				    </tbody>
					</table>
					    
	        </div>
	    
	    </div><!--end windowshade-->
	    
	   <a href="#" class="back-to-top">Back to top</a>
	    
	    <div class="windowshade windowshade--alt active-sm active-lg"  id="ws3">
	        
	        <a href="#" class="windowshade__title ws-trigger" aria-controls="ws3" role="tab">Oncology Pipeline<span class="windowshade__icon"></span></a>
	        
	        <div class="windowshade__body" aria-labelledby="ws3" role="tabpanel">
	    
	    
	            <table class="table" summary="Building a Focused Oncology Presence">
				    <thead>
				        <tr>
				            <th>Program</th>
				            <th>Pre-Clinical</th>
				            <th>Phase I </th>
				            <th>Phase II</th>
				            <th>Phase III</th>
				            <th>Reg. Review</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>nal-IRI (MM-398): Pancreatic Cancer Post-Gemcitabine</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span>EU</td>
				        </tr>
				        
				        <tr>
				            <td>nal-IRI (MM-398): Gastric*</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"></td>
				        </tr>
				       
				        <tr>				       
				            <td>nal-IRI (MM-398): Pancreatic 1st Line*</td>
				             <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 2</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Myelofibrosis PERSIST-1</td>
				            
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Myelofibrosis PERSIST-2</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Acute Myeloid Leukemia</td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 1</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Chronic Lymphocytic Leukemia**</td>
				            <td class="yes"> <span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Myelodysplastic Syndrome**</td>
				            <td class="yes"> <span class="sr-only">Pre-Clinical</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Pacritinib: Polycythemia Vera**</td>
				            <td class="yes"><span class="sr-only">Pre-Clinical</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"></td>
				            
				        </tr>
				        
				        <tr>
				            <td>Rigosertib: Myelodysplastic Syndrome</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 3</span> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Imalumab (BAX 069): Malignant Ascites*</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Imalumab (BAX 069): Metastatic Colorectal</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Phase 2</span> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Oncaspar Lyophilized ALL***</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Oncaspar ALL***</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"><span class="sr-only">Regulatory Review</span> EU</td>
				        </tr>
				        
				        <tr>
				            <td>rADAMTS13 (BAX 930): TTP</td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 1 </span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Oncaspar: Acute Myeloid Leukemia***</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 2</span></td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				        </tr>
				        
				        <tr>
				            <td>Calaspargase pegol ALL*</td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="no"> </td>
				            <td class="yes"> <span class="sr-only">Phase 3</span></td>
				            <td class="no"> </td>
				         </tr>
				         
				    </tbody>
					</table>	
	    
	        </div>
	    
	    </div><!--end windowshade-->	

		<a href="#" class="back-to-top">Back to top</a>

    </div>

</div>

{{!-- {{> feature-3up feature-3up.related }} --}}