/* ----- Page news article component styles ----- */

.news-article {
    margin-bottom: $pad*2;
    
    h4 {
        @include font-body-bold();
        font-size: $body-copy-size-m;
        margin: 2em 0 1.5em;
        color: $color-text;
        line-height: 1.4;
        + h4 {
            margin-top: -0.75em;
        }
    }

    &__content {
        p {
            font-size: $body-copy-size-m;
        }
    }

}

