---
title: News Article
slug: news-article
list: done
layout: sidebar-layout
subnav: true
featured: false
---

<div class="news-article" data-action="newsArticle">
    
    {{> page-breadcrumb news-article }}

    <hgroup class="page-headings">
        <h1>Kidney Disease Patients Address Their Individual Needs through Personal Therapy Choices</h1>
        <h2>Spark Story, Optional Sub-heading</h2>
    </hgroup>

    {{> page-actions }}
    
    <div class="news-article__content">
        <h4>Baxter proudly supports broader global awareness for kidney health and access to care on World Kidney Day on March 12th</h4>
        <p>
            Maddy Warren describes herself as an “adrenaline junkie.” She not only leads a busy career in Human Resources for an investment bank in London, but also enjoys being active by participating in sports like skydiving, skiing and horseback riding. However, pursuing her hobbies hasn’t always been easy for Maddy. She was diagnosed at the age of 13 with nephrotic syndrome, a rare kidney disorder that progressed into end-stage renal disease (ESRD) or kidney failure.
        </p>
        <p>
            To treat her ESRD, Maddy was put on peritoneal dialysis (PD) therapy for five years, which works by cleaning the blood of toxins using the body’s peritoneal membrane as the filter. She received a kidney transplant from her dad after high school. Unfortunately the transplant failed, requiring Maddy to transition to hemodialysis (HD), which filters blood through a machine to remove toxins and returns clean blood to the body. Maddy chose to be trained by her healthcare providers at a hemodialysis center to conduct her dialysis therapy herself to allow flexibility in her treatment schedule.
        </p>
        <p>
            "One of the hardest things about this type of dialysis is having to spend time at the dialysis center,” Maddy said. “I am incredibly independent and like to have control over what I am doing."
        </p>
        <p>
            She discussed her dialysis options with her doctor to see if there might be another regimen that would fit with her schedule. She is now on a more frequent hemodialysis therapy with no consecutive days off dialysis, dialyzing nearly every night while she sleeps.
        </p>

        <h4>A Range of Treatment Options</h4>
        <p>
            Approximately 10 percent of the adult population has some degree of chronic kidney disease (CKD)1, which can progress over time and eventually cause ESRD. These patients require either transplantation or access to dialysis treatment.
        </p>
        <p>
            “Access to individualized care is essential because not all patients have the same medical and social needs, which will change over time,” said Bruce Culleton, M.D., vice president, renal therapeutic area lead at Baxter. “It is important for patients to explore their treatment options with their renal care team to find a therapy that helps them achieve their treatment goals.”
        </p>

        {{> video-container video-container.news }}

        <p>
            There are a range of dialysis therapies available to patients with kidney disease, such as PD, HD and continuous renal replacement therapy (CRRT). Each therapy is designed to treat the individual needs of patients.
        </p>
        <p>
            Joseph Sawndara Raj Amalraj, a 61-year-old from Malaysia, is passionate about gardening and enjoys being outside in his free time. Although Joseph was diagnosed with CKD 30 years ago, he did not begin PD therapy using a cycler until 2009.  PD therapy using a cycler, also called automated PD, infuses the PD solution and drains it while the patient sleeps. Automated PD provides Joseph flexibility in treatment schedules and offers health-related benefits
        </p>
        <p>
            “To me, treatment is not meant to limit our capabilities. Instead, it may help provide us the freedom to do things that we love. Gardening is my passion and I am grateful that with PD, I am able to continue to do just that,” Joseph shared. “I don’t see PD as something that stops me from continuing my hobby.”
        </p>
        <h4>Partnering with World Kidney Day</h4>
        <p>
            World Kidney Day on March 12th raises awareness about a disease that impacts so many lives around the world, and provides an opportunity for dialogue on the individual therapy needs of patients. Baxter encourages patients living with ESRD to know and discuss their treatment options with their doctor.
        </p>
        <p>
            “Don’t wait for your doctor to talk to you about your treatment options,” Maddy said. “Be confident in talking with your doctor but also be willing to take the time to explore your options.”
        </p>
        <p>
            For more information on World Kidney Day, visit worldkidneyday.org.
        </p>
        <p>
            1World Kidney Day; Chronic Kidney Disease. <a href="#">http://www.worldkidneyday.org/faqs/chronic-kidney-disease/</a>.
            <br>Accessed on February 16, 2015.
        </p>
    </div>

</div>

{{> feature-3up feature-3up.related }}