<div class="page-actions" data-action="pageActions">
    <ul>
        <li class="page-actions__item page-actions__item--rss">
            <a href="#">
                <span class="icon-rss"></span> 
                <span class="page-actions__text">Subscribe for Updates</span>
            </a>
        </li>
        <li class="page-actions__item page-actions__item--print">
            <a href="#" class="js-print-trigger">
                <span class="icon-print-link"></span> 
                <span class="page-actions__text">Printer Friendly</span>
            </a>
        </li>
        <li class="page-actions__item page-actions__item--social">
            <a href="#" class="st_sharethis">
                <span class="icon-share-link"></span> 
                <span class="page-actions__text">Social Sharing</span>
            </a>
        </li>
        <li class="page-actions__item page-actions__item--email">
            <a href="#" class="st_email">
                <span class="icon-email"></span> 
                <span class="page-actions__text">Email</span>
            </a>
        </li>
    </ul>
</div>
