---
title: Ventures Form
slug: ventures-form
list: done
layout: sidebar-layout
subnav: false
---

<div class="styled-form ventures-form" >
    <div class="col-xs-12">
    	<hgroup class="page-headings">
	        <h1>Baxalta Ventures</h1>
	        <h2 class="grey">Application for funding</h2>
	    </hgroup>

	    <p class="styled-form__disclaimer">Please do not include confidential information. Baxalta will not sign a Non-Disclosure Agreement (&ldquo;NDA&rdquo;) for any initial discussion or submissions. If there is sufficient interest by Baxalta, an NDA may be signed at a later date.</p>

	    <div class="alert alert-danger">
			<ul>
				
			</ul>
		</div>

		<div class="col-xs-12">
			<span class="right styled-form__instructions">* Required</span>
		</div> 

		<form role="form" class="form-horizontal" action="https://kmail1.baxter.com/kana/FRH" method="post" enctype="multipart/form-data" name="form">
			<!-- START OF Kana specific fields -->
			<input type="hidden" name="frh.form" value="baxalta_ventures"> 
			<input type="hidden" value="Baxalta_Ventures_Application_for_Funding_Form" name="Form_Name"> 
			<input type="hidden" value="Baxalta Ventures Application for Funding Form" name="Subject"> 
			<!-- END OF Kana specific fields -->			

			<div class="form-group">
				<label class="col-md-4" for="company_name">Company Name<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="company_name" class="form-control required" type="text" name="Company_Name" maxlength="256" data-error="Company Name field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="company_address">Company Address<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<textarea id="company_address" class="form-control required" rows="4" name="Company_Address" data-error="Company Address field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="phone_number">Phone Number<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="phone_number" class="form-control required" type="tel" name="Phone_Number" maxlength="256" data-error="Phone Number field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="website_url">Website/URL<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="website_url" class="form-control required" type="text" name="Website_URL" maxlength="256" data-error="Website/URL field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="number_employees"># of Employees<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="number_employees" class="form-control required" type="text" name="Number_Employees" maxlength="256" data-error="# of Employees field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="key_contact">Key Contact<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="key_contact" class="form-control required" type="text" name="Key_Contact" maxlength="256" data-error="Key Contact field is required.">
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="form-group">
				<label class="col-md-4" for="email">Contact E-mail Address<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="email" class="form-control required" type="text" name="Email Address" maxlength="256" data-error="Contact E-mail Address is required." data-error-validation="Please enter valid email address.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="contact_phone_number">Contact Phone Number<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="contact_phone_number" class="form-control required" type="tel" name="Contact_Phone_Number" maxlength="256" data-error="Contact Phone Number field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="date_founded">Date Founded<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="date_founded" class="form-control required" type="text" name="Date_Founded" maxlength="256" data-error="Date Founded is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="total_funding_raised">Total $ Funding Raised<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="total_funding_raised" class="form-control required" type="text" name="Total_Funding_Raised" maxlength="256" data-error="Total $ Funding Raised is required.">
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="form-group">
				<label class="col-md-12" for="baxalta_contact">Please provide the name of any individual or group at Baxalta with whom you are or have been in correspondence regarding your company or technology. If you have <strong>not</strong> been in contact with any individual or group at Baxalta, please indicate &quot;None&quot;<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="baxalta_contact" class="form-control required" rows="4" name="Baxalta_Contact" data-error="Baxalta Contact field is required."></textarea>
				</div>
			</div>

			<p class="styled-form__section-head">1,500 character limit; approximately 300 words per each category below</p>

			<div class="form-group">
				<label class="col-md-12" for="company_info"><strong>Company Information</strong>. Please provide a brief history of the company, funding raised to-date/sources and current stage of development<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="company_info" class="form-control required" rows="4" name="Company_Info" data-error="Company Information field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12" for="product_technology"><strong>Product/Technology</strong>. Please identify the unmet clinical need that you are solving and a summary description of your solution/offering<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="product_technology" class="form-control required" rows="4" name="Product_Technology" data-error="Product/Technology field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12" for="market_technology"><strong>Market Opportunity</strong>. Describe the current market size and geographies, market dynamics, addressable patient population, relevant physician targets, pharmacoeconomic benefits and revenue potential<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="market_technology" class="form-control required" rows="4" name="Market_Opportunity" data-error="Market Opportunity field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12" for="technical_pathway"><strong>Technical/Clinical Development Pathway</strong>. Describe the intended development pathway including clinical trials, regulatory assumptions and timeline to market<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="technical_pathway" class="form-control required" rows="4" name="Technical_Pathway" data-error="Technical/Clinical Development Pathway field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12" for="management_team"><strong>Management Team</strong>. Identify key members of the management team and relevant experience<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="management_team" class="form-control required" rows="4" name="Management_Team" data-error="Management Team field is required."></textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-12" for="resources_requested"><strong>Investment/Strategic Resources Requested</strong>. Describe the amount of funding being sought, the investment round, the technical and/or commercial milestones to be achieved with this investment and any strategic resources being sought<span class="required-indicator"></span></label>
				<div class="col-md-12">
					<textarea id="resources_requested" class="form-control required" rows="4" name="Resources_Requested" data-error="Investment/Strategic Resources Requested field is required."></textarea>
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="form-group">
				<div class="col-md-12">
					<div class="col-xs-1 col-sm-1">
						<input id="acceptance" class="required_check" type="checkbox" name="checkbox" value="checkbox" data-error="Checking box is required."> 
					</div>
					<label class="col-xs-11 col-sm-11" for="acceptance"> BY CHECKING THIS BOX, COMPLETING NAME, DATE, COMPANY BELOW AND SUBMITTING THIS PROPOSAL AND ANY SUPPORTING INFORMATION TO BAXALTA, YOU HEREBY AGREE TO THE FOLLOWING<span class="required-indicator"></span></label>
				</div>
			</div>

			<ul>
				<li>This submission and all materials delivered along with this submission are non-confidential in nature. You understand and agree that Baxalta will (a) not treat this information as confidential or proprietary, (b) not be restricted from using such information or disclosing such information to third parties, and (c) have no liability to you or any third party for use or disclosure of such information.</li>
				<li>Baxalta is not obligated to pursue an opportunity with you, or to reply to your submission. Any decision to pursue an opportunity with you will be made by Baxalta in its sole discretion.</li>
			</ul>

			<p class="styled-form__section-head">I have read and agree to the following:</p>

			<div class="form-group">
				<label class="col-md-4" for="company">Company<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="company" class="form-control required" type="text" name="Company" maxlength="256" data-error="Company field is required.">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4" for="name">Name<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="name" class="form-control required" type="text" name="Name" maxlength="256" data-error="Name field is required.">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4" for="title">Title<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="title" class="form-control required" type="text" name="Title" maxlength="256" data-error="Title field is required.">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4" for="title">Date<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="date" class="form-control required" type="text" name="Date" maxlength="256" data-error="Date field is required.">
				</div>
			</div>
			
			<p class="styled-form__section-head">5MB limit per attachment</p>
			
			<div class="form-group">
				<label class="col-md-4" for="file1">Upload attachment: </label>
				<div class="col-md-8">
					<div class="fake_file" data-id="file1">
						<input class="btn btn-primary styled-form__btn__dark file" type="button" name="" value="Browse...">
						<span>No file selected.</span>
					</div>
					<input id="file1" class="" type="file" name="file1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4" for="file">Upload attachment: </label>
				<div class="col-md-8">
					<div class="fake_file" data-id="file">
						<input class="btn btn-primary styled-form__btn__dark file" type="button" name="" value="Browse...">
						<span>No file selected.</span>
					</div>
					<input id="file" class="" type="file" name="file">
				</div>
			</div>

			{{!-- Spam catcher --}}
			<div class="form-group hide">
				<label class="col-md-4" for="spam">Leave this field blank if you're a human!<span class="required-indicator"></span></label>
				<div class="col-md-8">
					<input id="spam" class="form-control spammy" type="text" name="Spam" maxlength="256" data-error="Sorry, you're a robot.">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-4" ></div>
				<div class="col-md-8">
					<input id="submit" class="btn btn-primary styled-form__btn styled-form__btn__left" type="submit" name="Submit" value="Submit">
				</div>
			</div>
		</form>
    </div>
</div>
