<div class="secondary-nav" data-action="secondaryNav">

	<div class="secondary-nav__wrapper">

		<a class="secondary-nav__trigger" href="#"><span class="icon-arrow-nav-right"></span> In this Section</a>

		<div class="secondary-nav__section">
			<a href="#" title="lorem" class="secondary-nav__heading">Lorem Ipsum</a>
			<ul class="secondary-nav__links">
				<li><a href="#" title="lorem">Dolor sit amet</a></li>
				<li><a href="#" title="lorem">Consectetur</a></li>
				<li><a href="#" title="lorem">Adipisicing eli</a></li>
				<li><a href="#" title="lorem">Sit quibusdam</a></li>
			</ul>
		</div>

	</div>
	
</div>
