<div class="page-breadcrumb" data-action="pageBreadcrumb">
    <ul>
    	{{#each this}}
    		{{#each breadcrumb}}
				<li><a href="#">{{ this }}</a></li>
			{{/each}}
        {{/each}}
    </ul>
</div> 
