.sitemap {

	&__wrapper {
		@extend .site-wrapper;
		overflow: auto;
	}

	&__container {
		margin-top: $pad;
		overflow: auto;
		padding: 0 $pad;
		
		@include respond-to($screen-sm-min) { 
			margin-top: $pad*1.5;
		}

		&--flexible {
			@include respond-to($screen-sm-min) { 
				align-content: stretch;
				display: flex;
				margin-top: $pad;
			}
		}
	}

	&__section {
		@include respond-to($screen-sm-min) { 
			flex: 1;

			.no-flexbox & {
				float: left;
			}
		}
	}

	&__list {
		list-style-type: none;
		margin: 0 0 ($pad) 0;
		padding: 0;

		@include respond-to($screen-sm-min) { 
			margin: 0 0 ($pad*2) 0;
			padding-right: $pad;
		}

		&__item {
			margin: 12px 0;
		}
	}

	&__link {
			color: $brand-grey;
			display: inline-block;
			font-size: 16px;

			&--header {
				color: $brand-light;
				font-size: 18px;
				margin: 5px 0;

				&:hover, &:focus, &:target {
					color: $brand-dark;
					text-decoration: none;
				}

			}

			&--sublink {
				.icon-arrow-nav-right {
					font-size: 10px;
					margin: 0 8px;
				}
			}

			&:hover, &:focus, &:target {
				color: $brand-dark;
				text-decoration: none;
			}
		}

	&__sublist {
		list-style-type: none;
		margin: 0px;
		padding: 0px 0px 0px 15px;

		&__item {
			margin: 12px 0;
			padding: 0px !important;
		}
	}
}