---
title: Sitemap
slug: sitemap-page
list: done
layout: default
---

<div class="sitemap">
	<div class="sitemap__wrapper">
		<div class="sitemap__container">
		    <hgroup class="page-headings">
		        <h1>Sitemap</h1>
		    </hgroup>
	    </div>
	    <div class="sitemap__container sitemap__container--flexible">
	    	<div class="sitemap__section">
		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					About Us
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Patient Promise
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Our Values
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Leadership
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Corporate Responsibility
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Governance
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Locations
		   				</a>
		   			</li>
		   		</ul>

		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					Collaborations
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Partnerships
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Baxalta Ventures
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Supplier Information
		   				</a>
		   			</li>
		   		</ul>
		   	</div>
		   	<div class="sitemap__section">
		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					Research &amp; Development
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Research Areas
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
			   			<ul class="sitemap__sublist list-carets">
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Hematology
				   				</a>
				   			</li>
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Immunology
				   				</a>
				   			</li>
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Oncology
				   				</a>
				   			</li>
			   			</ul>
			   		</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Technology Platforms
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
			   			<ul class="sitemap__sublist list-carets">
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Gene therapy
				   				</a>
				   			</li>
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Biosimilars
				   				</a>
				   			</li>
				   		</ul>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Pipeline
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Clinical Trials
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Cambridge Links
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Medical Grants
		   				</a>
		   			</li>
		   		</ul>
		   	</div>

		   	<div class="sitemap__section">
		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					Therapies
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Areas of Expertise
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<ul class="sitemap__sublist list-carets">
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Hemophilia/Blood Disorders
				   				</a>
				   			</li>
				   			<li class="sitemap__sublist__item">
				   				<a href="#" class="sitemap__link sitemap__link--sublink">
				   					Immunology
				   				</a>
				   			</li>
				   		</ul>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Product Listing
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Medwatch Reporting
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Manufacturing
		   				</a>
		   			</li>
		   		</ul>

		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					For Investors
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Shareholder &amp; Stock Information
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Financial Reports &amp; SEC Filings
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Events &amp; Presentations
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Investor FAQs
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Investor Contacts
		   				</a>
		   			</li>
		   		</ul>
		   	</div>

		   	<div class="sitemap__section">
		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					Newsroom
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Company Facts
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Press Releases
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Media Contacts
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Spark Stories
		   				</a>
		   			</li>
		   		</ul>

		   		<ul class="sitemap__list">
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link sitemap__link--header">
		   					Careers
		   				</a>
		   			</li>
		   			<li class="sitemap__list__item">
		   				<a href="#" class="sitemap__link">
		   					Search and Apply for Jobs
		   				</a>
		   			</li>
		   		</ul>
		   	</div>
	    </div>
	</div>
</div>
