---
title: Press Release
slug: press-release
list: done
layout: sidebar-layout
subnav: true
featured: true
---

<div class="news-article">
    
    {{> page-breadcrumb press-release }}

    <hgroup class="page-headings">
        <h1>Baxter BioScience to Expand Global Oncology Footprint with Acquisition of Oncaspar® Portfolio for Leukemia</h1>
    </hgroup>

    {{> page-actions }}
    
    <div class="news-article__content">
        <h4>Company gains an oncology infrastructure, marketed biologic and investigational treatment</h4>
        <h4>New portfolio strengthens leadership in rare and orphan diseases for Baxter BioScience, expected to become Baxalta by mid-2015</h4>
        
        <p>DEERFIELD, Ill. -- (BUSINESS WIRE) -- May 12, 2015 -- Baxter International Inc. (NYSE:BAX) announced it has signed a definitive agreement to acquire the Oncaspar® (pegaspargase) product portfolio from Sigma-Tau Finanziaria S.p.A. The acquisition further accelerates the innovation capabilities and the commercial presence of Baxter BioScience in growing oncology markets for rare and orphan diseases. The company gains the leading marketed biologic treatment Oncaspar, the investigational biologic calaspargase pegol, and an established oncology infrastructure with clinical and sales resources. The Oncaspar transaction is expected to close in the third quarter. By mid-year, Baxter expects to establish the BioScience business as a separate, publicly traded, innovation-oriented biopharmaceutical company, Baxalta Incorporated. </p>
        <p>Oncaspar is a first-line biologic used as part of a multi-agent chemotherapy regimen to treat acute lymphoblastic leukemia (ALL). It is currently marketed in the United States, Germany, Poland and certain other countries and has approximately USD $100 million in annual sales. ALL is a rapidly progressing cancer of the white blood cells responsible for more than 80 percent of childhood leukemia cases. </p>
        <p>''The Baxter BioScience legacy of delivering solutions for orphan diseases and small patient populations and our global presence positions us well to accelerate the growth of the Oncaspar portfolio globally,'' said Ludwig Hantson, Ph.D., president of Baxter BioScience. ''With Oncaspar, Baxalta will bring an established standard of care therapy to more patients worldwide through the pursuit of additional indications and regulatory approvals across the globe.'' </p>
        <p>''Oncaspar is a strong strategic fit for our rapidly expanding oncology business, as it complements our R&amp;D programs in hematologic cancers,'' added David Meek, head of oncology for Baxter BioScience. ''The acquisition provides an immediate commercial footprint in the United States and Europe with a heritage of expertise in treating this challenging disease. In addition to the currently marketed formulation of Oncaspar, Baxter BioScience intends to continue the development of a lyophilized formulation, which is being investigated to enhance product stability to support product supply continuity. </p>
    	<p>As part of the acquisition, Baxter BioScience is also acquiring a related new chemical entity calaspargase pegol, a biologic in development for the treatment of ALL with an increased shelf life that is expected to reduce dosing frequency. Further, the company plans to investigate Oncaspar for potential new indications, including in additional ALL patient populations with significant unmet needs, as well as for acute myeloid leukemia (AML). </p>
    	<p>''We are confident that this transaction provides benefits for patients, our business and our employees. The Oncaspar team will gain beneficial resources by joining forces with Baxter BioScience to bring this valuable treatment to more patients around the world,'' said Andrea Montevecchi, CEO of Sigma Tau Finanziaria SpA. </p>

    	<p>The acquisition is expected to accelerate the company's efforts to capitalize on the rapidly growing oncology market, with an estimated $10 billion total market potential across current oncology indications for Baxter's pipeline assets. It also complements recent momentum on several partnerships within the oncology pipeline, including positive Phase III results for the investigational treatment pacritinib for myelofibrosis as well as the recent regulatory filings of MM-398 for metastatic pancreatic cancer. </p>
    	<p>Under the terms of the agreement, Baxter will purchase the portfolio for USD $900 million before working capital and other transaction adjustments. The company expects to finance the transaction through a combination of foreign cash and debt. This transaction is expected to be accretive to adjusted earnings on a cash basis in the first full year and increasingly accretive thereafter. The closing of the transaction, expected in the third quarter, is subject to regulatory approvals and other customary closing conditions. </p>
    	<p>Baxalta Incorporated will host an investor conference on Tuesday, May 19, during which the company's leadership will address the growing oncology business, strategy and emerging pipeline.        </p>

        <h4>About Oncaspar </h4>
		<p>ONCASPAR® (pegaspargase) is indicated as a component of a multiagent chemotherapeutic regimen for the first-line treatment of patients with acute lymphoblastic leukemia (ALL) and for the treatment of patients with ALL and hypersensitivity to native forms of L-asparaginase. </p>
		<p>Oncaspar is currently approved in the United States as a first line treatment and select European countries as a second line option. </p>

		<h4>Important Safety Information </h4>
		<p>Oncaspar® is contraindicated in patients with a history of serious allergic reactions to Oncaspar, and in patients with a history of serious thrombosis, pancreatitis, or serious hemorrhagic events with prior L-asparaginase therapy. </p>
		<p>Anaphylaxis or serious allergic reactions can occur; therefore, patients should be observed for one hour after administration. Discontinue Oncaspar in patients with serious allergic reactions. Patients with abdominal pain should be evaluated for evidence of pancreatitis. Discontinue Oncaspar in patients with pancreatitis. Oncaspar should also be discontinued in patients with serious thrombotic events. </p>
		<p>Glucose intolerance, in some cases irreversible, can occur; serum glucose should be monitored. Coagulopathy and hepatotoxicity can occur; appropriate monitoring should be performed. </p>

		<p>The most common adverse reactions with Oncaspar® (=2%) are allergic reactions (including anaphylaxis), hyperglycemia, pancreatitis, central nervous system (CNS) thrombosis, coagulopathy, hyperbilirubinemia, and elevated transaminases. </p>

		<p>Hyperlipidemia (hypercholesterolemia and hypertriglyceridemia) has been reported in patients exposed to Oncaspar. Please click here to review full Product Information: http://oncaspar.com/pdf/OncasparPI.pdf. </p>
		
		<h4>About Acute Lymphoblastic Leukemia </h4>
		<p>Acute lymphoblastic leukemia (ALL) is a rare, fast-growing cancer of the white blood cells, with approximately 5,000 new cases each year in the United States, and 4,000 in Europe. The disease is the most common childhood cancer and is responsible for more than 80 percent of childhood leukemia cases. The five-year pediatric survival rate has climbed to 90 percent with modern therapies, though a quarter of patients relapse.<sup><a href="#footnote-1">1 </a></sup></p>

		<h4>About Baxter BioScience in Oncology </h4>
		<p>Baxter BioScience is committed to transforming promising molecules into life-changing therapies for cancer patients with limited options. In direct answer to the global need for more new therapies in both blood cancers and solid tumors, we are building a targeted pipeline that focuses on external innovation as a core driver of growth. Partnering with cutting-edge R&D companies in the oncology community enables us to access transformational science and develop a diversified portfolio of new oncology therapies. </p>

		<h4>About Baxter International Inc. </h4>
		<p>Baxter International Inc., through its subsidiaries, develops, manufactures and markets products that save and sustain the lives of people with hemophilia, immune disorders, cancer, infectious diseases, kidney disease, trauma and other chronic and acute medical conditions. As a global, diversified healthcare company, Baxter applies a unique combination of expertise in medical devices, pharmaceuticals and biotechnology to create products that advance patient care worldwide. </p>

		<h4>Forward-Looking Statements </h4>
        <p><em>This release includes forward-looking statements concerning Baxter's acquisition of Sigma-Tau's Oncaspar product portfolio, including expectations with regard to the transaction process, including plans with regard to financing and closing, the company's pipeline plans and outlook for its oncology business, as well as the timing of the planned spin-off of Baxalta. The statements are based on assumptions about many important factors, including the following, which could cause actual results to differ materially from those in the forward-looking statements: satisfaction of regulatory and other requirements including closing conditions; continued strength in the company's financial position, including cash flows; the ability to successfully separate the businesses on the terms or timeline currently contemplated, if at all, and achieve the intended results; a material adverse change in either the biopharmaceutical or the medical products businesses; actions of regulatory bodies and other governmental authorities; changes in laws and regulations; product quality, manufacturing or supply issues; patient safety issues; and other risks identified in Baxalta's Form 10 and Baxter's most recent filing on Form 10-K and other Securities and Exchange Commission filings, all of which are available on Baxter's website. Baxter does not undertake to update its forward-looking statements. </em></p>

        <p id="footnote-1" class="footnote">1 Acute lymphoblastic leukemia. Medline Plus. 2014. Available at: <a href="www.nlm.nih.gov/medlineplus/ency/article/000541.htm" target="_blank">www.nlm.nih.gov/medlineplus/ency/article/000541.htm.</a></p>
        </p>
    </div>

</div>

