---
title: About Us - Leadership
slug: about-us-leadership
list: done
layout: sidebar-layout
subnav: true
featured: false
---

<div class="about-us-leadership" data-action="aboutUsLeadership">

	{{> page-breadcrumb about-us-leadership }}

    <hgroup class="page-headings">
        <h1>Baxalta Leadership: Executive Officers</h1>
        <p>Aliquam lobortis. Etiam ut purus mattis mauris sodales aliquam. Nam pretium turpis et arcu. Quisque id mi. Vestibulum ullamcorper mauris at ligula. Quisque id mi.</p>
    </hgroup>

    {{> tab-controls tab-controls.leadership }}

    {{> person-item person-item }}

</div>
