---
title: Our Values
slug: our-values
list: done
layout: sidebar-layout
subnav: true
---

<div class="our-values">

    <hgroup class="page-headings">
        <h1>Our Values</h1>
        <h2 class="grey">At Baxalta, we share a common set of values and behaviors that represent what we stand for and how we work together to achieve the Promise of The Baxalta Spark.</h2>
    </hgroup>

 	{{> video-container video-container.values }}

 	{{> list-w-header list-w-header.passion }}

 	{{> list-w-header list-w-header.quest }}

 	{{> list-w-header list-w-header.teams }}

 	{{> list-w-header list-w-header.world }}

    {{> list-w-header list-w-header.nolink }}

</div>
