<div class="list-w-header" data-action="list-w-header">
	<h3>
	    {{#if url }}<a href="{{ url }}" title="[ placeholder title ]">{{/if}}
	        <span class="{{ icon }}"></span> <p>{{ heading }}</p>
	    {{#if url }}</a>{{/if}}
	</h3>
	<ul class="list-styled">
		<li>We proactively look everywhere, both inside our industry and out in the world, to find new ways of thinking and working.</li>
		<li>As global citizens, we embrace change and seek diverse perspectives and partnerships to benefit patients and make a positive impact on the world.</li>
		<li>We thrive working in diverse high-performing teams.</li>
	</ul>
</div>
