<footer class="footer footer-minimal" data-action="footer">
    <div class="footer__wrapper">

    </div>

    <div class="footer__wrapper footer__gray-border">

        <div class="footer__copyrights">
            &copy; Copyright 2015 Baxalta. All rights reserved
            <ul>
                <li><a href="#">Legal disclaimer</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Linking disclaimer</a></li>
            </ul>
        </div>
    
    </div>

</footer>
