/* ----- Result feature component styles ----- */

.result-feature {
	margin-top: $pad;
	display: block;
	overflow: hidden;
	text-decoration: none !important;

	&:focus span, 
	&:hover span {
		color: $brand-light;
	}
	&:focus &__date,
	&:hover &__date {
		color: $brand-dark !important;
	}
	&:focus &__copy,
	&:hover &__copy {
		color: $brand-light;
	}

	&__date {
		margin: 0 0 1em;
		display: block;
		color: $brand-grey;
		font-size: $body-copy-size-s;
	}
	&__img {
		padding-right: $pad/1.5;
		padding-bottom: $pad/4;
		float: left;
		max-width: 140px;
		@include respond-to($screen-xs-max, max) {
			max-width: 100px;
		}
	}
	&__copy {
		color: $color-text;
		max-width: 45em;
		@include respond-to($screen-xs-max, max) {
			font-size: $body-copy-size-s;
		}
	}
}
