<a href="{{ url }}" class="result-feature">
    <img class="result-feature__img" src="{{ img }}" />
    <h5 class="result-feature__date">{{ date }}</h5>
    <p class="result-feature__copy">{{ copy }}&nbsp;<span class="feature-tile__icon"></span></p>
</a>